<div class="wrapper">
  <div class="container">
    <div class="search">
      <form [formGroup]="searchUserForm">
        <div>
          <mat-form-field>
            <input
              matInput
              formControlName="userFirstName"
              placeholder="Enter user's first name"
            />
          </mat-form-field>
        </div>
      </form>
      <div>
        <ul>
          <li *ngFor="let user of searchUsers$ | async; trackBy: trackById">
            <span>{{ user.first_name }}</span> {{ user.last_name }}
            <div class="btn">
              <button (click)="addToFavourites(user)">add</button>
              <button (click)="getUserInformation(user)">
                More information
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="cards">
      <app-user-detail [user]="selectedUser"></app-user-detail>
    </div>
  </div>
</div>
