.wrapper {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  width: 600px;
}

.btn-add{
  margin: 1rem;
}

mat-selection-list:focus {
  outline: none;
}
