<div class="wrapper">
  <div class="container">
    <div>
      <form [formGroup]="searchUserForm">
        <mat-form-field>
          <input
            matInput
            formControlName="userFirstName"
            placeholder="Enter user's first name"
          />
        </mat-form-field>
      </form>
      <mat-selection-list class="sda">
        <mat-list-item
          *ngFor="let user of usersSortForInputValue; trackBy: trackById"
        >
          <img matListAvatar src="{{ user.avatar }}" alt="avatar" />
          <p matLine>
            <span> {{ user.first_name }} {{ user.last_name }}</span>
          </p>
          <button
            class="btn-add"
            mat-mini-fab
            color="black"
            (click)="addToFavourites(user)"
            [disabled]="mySomeForDisabledFavoriteUsers(user.id) | async"
          >
            <mat-icon>add</mat-icon>
          </button>
          <button mat-mini-fab color="black" (click)="getUserInformation(user)">
            <mat-icon>more</mat-icon>
          </button>
        </mat-list-item>
      </mat-selection-list>
    </div>
    <div class="cards">
      <app-user-detail [user]="selectedUser"></app-user-detail>
    </div>
  </div>
</div>
