<div class="wrapper">
  <div class="container">
    <ul class="users">
      <li *ngFor="let user of favouritesUsers" (click)="onSelect(user)">
        <span>{{ user.last_name }}</span> {{ user.first_name }}
      </li>
    </ul>
    <div class="cards" *ngIf="selectedFavouritesUser">
      <div><img src="{{ selectedFavouritesUser.avatar }}" alt="avatar" /></div>
      <div>
        <span>first name: </span>{{ selectedFavouritesUser.first_name }}
      </div>
      <div><span>last name: </span>{{ selectedFavouritesUser.last_name }}</div>
      <div><span>email: </span>{{ selectedFavouritesUser.email }}</div>
    </div>
  </div>
</div>
