<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-control">
      <label>Email</label>
      <input type="text" placeholder="Email" formControlName="email" />
      <div
        *ngIf="form.get('email').invalid && form.get('email').touched"
        class="validation"
      >
        <small *ngIf="form.get('email').errors.required"
          >The field must not be empty.
        </small>
        <small *ngIf="form.get('email').errors.email"
          >Enter the correct email.</small
        >
      </div>
    </div>
    <div class="form-control">
      <label>Password</label>
      <input placeholder="Пароль" formControlName="password" />
      <div
        *ngIf="form.get('password').invalid && form.get('password').touched"
        class="validation"
      >
        <small *ngIf="form.get('password').errors.required"
          >The field must not be empty.</small
        >
        <small *ngIf="form.get('password').errors.minlength.requiredLength"
          >Length must be at least 6</small
        >
      </div>
    </div>
    <button type="submit" [disabled]="form.invalid">Sign in</button>
  </form>
</div>
