<div class="wrapp">
  <div class="content">
    <div><button (click)="isVisible = !isVisible">Toggle</button></div>
    <div>
      <div *appIfWithTimer="isVisible">
        <p>
          <span
            >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, ad
            animi assumenda consequuntur culpa dicta doloremque, eaque esse
            exercitationem iste magni quae, quasi qui quis rem repudiandae sint
            ut voluptatum.</span
          ><span
            >Doloremque, maxime, quibusdam? Aspernatur at commodi corporis cum
            dolorem eaque earum eos ex fuga hic incidunt libero molestias nam
            odit quia quos, repellat sed similique sit vero. Officia, sit,
            tenetur!</span
          ><span
            >Accusamus amet commodi consectetur debitis est, in ipsum itaque
            necessitatibus neque nesciunt odio, possimus quaerat sed vel
            voluptatibus. Asperiores blanditiis consectetur deleniti ipsa
            laboriosam laudantium nemo ratione recusandae temporibus
            vitae.</span
          >
        </p>
      </div>
    </div>
    <app-form-sign-in></app-form-sign-in>
  </div>
</div>
