<div class="wrapper">
  <div class="container">
    <mat-selection-list>
      <mat-list-item *ngFor="let user of favouritesUsers; trackBy: trackById">
        <img
          matListAvatar
          src="{{ user.avatar }}"
          alt="avatar"
          (click)="onSelect(user)"
        />
        <p matLine>
          <span> {{ user.first_name }} {{ user.last_name }}</span>
        </p>
        <button mat-icon-button color="black" (click)="deleteFavoriteUser(user)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-selection-list>
    <div class="cards">
      <app-user-detail [user]="selectedFavouritesUser"></app-user-detail>
    </div>
  </div>
</div>
