<div>
  <mat-toolbar class="nav-bar">
    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      >Home</a
    >
    <ng-container *ngIf="usersService.isAuthenticated$ | async">
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/users"
        >All users</a
      >
      <a routerLinkActive="active" routerLink="/search">Search</a>
      <a routerLinkActive="active" routerLink="/favorite">Favorite users</a>
    </ng-container>
    <span class="spacer"></span>
    <button
      *ngIf="!(usersService.isAuthenticated$ | async)"
      class="login"
      mat-button
      routerLink="/login"
    >
      Login
    </button>
    <button
      *ngIf="usersService.isAuthenticated$ | async"
      class="logout"
      mat-button
      routerLink="/"
      (click)="logout($event)"
    >
      Logout
    </button>
  </mat-toolbar>
</div>
