.nav-bar{
  background-color: #030504;
  color: white;
  box-shadow: 7px 7px 5px 0px rgba(253, 244, 255, 0);
  opacity: 0.9;
}

a{
  text-decoration: none;
  color: #fffbff;
  margin: 10px;
}

a:hover{
  color: rgb(102, 103, 255);
}

.active{
  color: rgb(102, 103, 255);;
}

.spacer {
  flex: 1 1 auto;
}

.sign-up{
  border: 1px solid darkgray;
  border-radius: 5px;
}
