<div>
  <mat-toolbar class="nav-bar">
    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      >Home</a
    >
    <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/users" >All users</a>
    <a routerLinkActive="active" routerLink="/search">Search</a>
    <a routerLinkActive="active" routerLink="/favorite">Favorite users</a>
    <span class="spacer"></span>
    <button mat-button>Sign In</button>
    <button mat-button class="sign-up">Sign Up</button>
  </mat-toolbar>
</div>
