a{
  text-decoration: none;
  color: #fffbff;
  margin: 10px;
}

a:hover{
  color: #50a1ff;
}

.active{
  color:  #50a1ff;
}

.spacer {
  flex: 1 1 auto;
}

.sign-up{
  border: 1px solid darkgray;
  border-radius: 5px;
}
