<div>
  <mat-toolbar class="nav-bar">
    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      >Home</a
    >
    <a
      *ngIf="usersService.isAuthenticated()"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/users"
      >All users</a
    >
    <a
      *ngIf="usersService.isAuthenticated()"
      routerLinkActive="active"
      routerLink="/search"
      >Search</a
    >
    <a
      *ngIf="usersService.isAuthenticated()"
      routerLinkActive="active"
      routerLink="/favorite"
      >Favorite users</a
    >
    <span class="spacer"></span>
    <button
      *ngIf="!usersService.isAuthenticated()"
      class="login"
      mat-button
      routerLink="/login"
    >
      Login
    </button>
    <button
      *ngIf="usersService.isAuthenticated()"
      class="logout"
      mat-button
      routerLink="/"
      (click)="logout($event)"
    >
      Logout
    </button>
  </mat-toolbar>
</div>
