
.form-control {
  display: block;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

input {
  margin-bottom: 0;
}
input.ng-invalid.ng-touched{
  border: 2px solid red;
}
input.ng-valid{
  border: 2px solid green;
}
small{
  color: red;
}
