.wrapper {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  width: 600px;
}

button {
  margin-right: 5px;
}

.cards {
  width: 250px;
}
