.form-sign-up {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 1rem;
}

.form-sign-up input {
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  width: 100%;
  line-height: 3rem;
  margin: 1rem 0;
  outline: none;
}

.btn-sign-up {
  border: 2px solid rgb(102, 103, 255);
  border-radius: 0.4rem;
  margin-top: 1rem;
  color: rgb(102, 103, 255);
  padding: 1rem 3rem;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
}
.btn-sign-up:hover {
  background-color: rgb(102, 103, 255);
  color: white;
}
